@import "@/assets/styles/base/adaptive"
.card-page
  padding-top: 40px
  padding-bottom: 0
  .card-top-section
    display: grid
    grid-template-areas: 'color attr' 'add add'
    grid-template-columns: calc(60% - 10px) calc(40% - 10px)
    gap: 20px
    margin-bottom: 40px
    .color-block
      grid-area: color
      width: unset
      border-radius: 20px
      padding: 40px
      display: flex
      flex-direction: column
      .bank-image
        border-radius: 10px
        width: 50px
        margin-bottom: 30px
      .card-type
        color: var(--white-color)
        font-size: 1.25rem
        font-weight: 400
        margin-bottom: 5px
      .card-name
        color: var(--white-color)
        font-size: 2.25rem
        font-weight: 500
        margin-bottom: 30px
      .card-text
        color: var(--white-color)
        font-size: 1rem
        font-weight: 400
        flex: 1 0 0
        margin-bottom: 30px
        max-width: 90%
      .card-bottom-block
        display: flex
        flex-direction: row
        justify-content: space-between
        .apply-btn
          width: 300px
          border-radius: 10px
          color: var(--black-color)
          font-size: 1.25rem
          font-weight: 500
          background: var(--white-color)
          padding: 20px
          transition: .3s ease
          &:hover
            transition: .3s ease
            color: var(--orange-color)
        .ad-block
          color: var(--white-color)
          font-size: 0.75rem
          font-weight: 400
          align-self: flex-end
    .attr-block
      grid-area: attr
      width: unset
      border-radius: 20px
      border: 2px solid var(--bg-gray-color)
      padding: 30px
      display: flex
      flex-direction: column
      gap: 30px
      justify-content: space-between
      .card-image
        display: flex
        align-items: center
        justify-content: start
        background: var(--bg-gray-color)
        border-top-left-radius: 20px
        border-top-right-radius: 20px
        margin: -30px -30px 0
        padding: 30px
        img
          //width: 32.236%
          max-width: 190px
      .card-props
        flex: 1 0 0
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-auto-rows: min-content
        grid-gap: 20px
        .line
          display: flex
          flex-direction: column
          gap: 5px
          .key
            color: var(--gray-color)
            font-size: 1rem
            font-weight: 400
          .value
            font-size: 1.125rem
            font-weight: 500
      .card-features
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 10px
        .feature
          padding: 8px 15px
          color: var(--gray-color)
          font-size: 0.875rem
          font-weight: 500
          border: 1px solid var(--gray-color)
          border-radius: 100px
    .additional-rates
      grid-area: add
      width: 100%
      display: flex
      flex-direction: row
      align-items: center
      margin-top: 20px
      padding: 30px 40px
      border-radius: 10px
      background: var(--bg-gray-color)
      gap: 40px
      .add-text
        grid-area: text
        font-size: 1.5rem
        font-weight: 500
      .show
        grid-area: btn
        display: flex
        flex-direction: row
        align-items: center
        gap: 5px
        .text
          color: var(--main-color)
          font-size: 1.125rem
          font-weight: 500
          transition: .3s ease
        svg
          transition: .3s ease
          margin-top: 2px
        .arrow--opened
          transition: .3s ease
          transform: rotate(180deg)
    .all-tariffs
      grid-area: tariff
      display: flex
      flex-direction: column
      margin-top: -20px
      .rate
        display: grid
        grid-template-areas: 'name props btns'
        align-items: center
        grid-template-columns: 250px 1fr 285px
        padding: 25px 30px
        border-radius: 10px
        gap: 40px
        .name
          grid-area: name
          max-width: 250px
          overflow: hidden
          text-overflow: ellipsis
          font-size: 1rem
          font-weight: 600
        .properties
          grid-area: props
          display: flex
          flex-direction: row
          gap: 30px
          .line
            display: flex
            flex-direction: column
            gap: 5px
            .key
              color: var(--gray-color)
              font-size: 0.875rem
              font-weight: 400
            .value
              font-size: 1rem
              font-weight: 500
        .card-btns
          grid-area: btns
          display: flex
          flex-direction: row
          gap: 10px
          .apply
            width: 211px
            border-radius: 10px
            background: var(--main-color)
            padding: 20px
            font-size: 1rem
            font-weight: 600
            color: var(--white-color)
            transition: .3s ease
            border: 2px solid var(--main-color)
            &:hover
              transition: .3s ease
              background: var(--white-color)
              color: var(--main-color)
              border: 2px solid var(--main-color)
          .more
            width: 60px
            height: 60px
            display: flex
            align-items: center
            justify-content: center
            border-radius: 10px
            border: 2px solid var(--bg-gray-color)
            background: var(--white-color)
            transition: .3s ease
            img
              width: 32px
              height: 32px
            &:hover
              transition: .3s ease
              border: 2px solid var(--main-color)
        &:nth-child(2n)
          background: var(--bg-gray-color)
  .card-top-section--opened
    grid-template-areas: 'color attr' 'add add' 'tariff tariff'
  .card-top-section-gap
    grid-template-areas: 'color attr'
  .best-offers
    padding-right: 0
    padding-left: 0
  .faq-section
    padding-right: 0
    padding-left: 0
@media only screen and (max-width: $bp-pc)
  .card-page
    padding-top: 20px
    .card-top-section
      grid-template-areas: 'color color' 'attr attr' 'add add' 'tariff tariff'
      gap: 10px
      margin-bottom: 20px
      .color-block
        width: 100%
        border-radius: 10px
        padding: 30px
        .bank-image
          border-radius: 10px
          width: 50px
          margin-bottom: 20px
        .card-type
          font-size: 1rem
          margin-bottom: 5px
        .card-name
          font-size: 1.5rem
          margin-bottom: 15px
        .card-text
          font-size: 0.875rem
          margin-bottom: 60px
          max-width: 90%
        .card-bottom-block
          flex-direction: row
          justify-content: space-between
          .apply-btn
            width: 260px
            border-radius: 10px
            font-size: 0.875rem
          .ad-block
            font-size: 0.625rem
            font-weight: 400
            align-self: flex-end
      .attr-block
        width: 100%
        border-radius: 10px
        padding: 20px
        display: grid
        grid-template-areas: 'img img' 'props props' 'features features'
        grid-template-rows: auto 1fr
        justify-content: unset
        grid-gap: 30px 0
        .card-image
          grid-area: img
          display: flex
          justify-content: center
          border-top-left-radius: 10px
          border-top-right-radius: 10px
          margin: -20px
          padding: 20px
          img
            //width: 29.412%
        .card-props
          grid-area: props
          display: flex
          flex-direction: row
          justify-content: space-between
          height: min-content
          grid-gap: 10px 20px
          margin-bottom: unset
          .line
            gap: 3px
            .key
              font-size: 0.6875rem
            .value
              font-size: 0.75rem
        .card-features
          grid-area: features
          gap: 8px
          height: min-content
          align-self: end
          .feature
            padding: 6px 12px
            font-size: 0.5625rem
      .additional-rates
        margin: 20px -34px 0
        width: 100svw
        border-radius: unset
        .add-text
          font-size: 1.125rem
        .show
          .text
            font-size: 1rem
      .all-tariffs
        margin: 0 -34px
        width: 100svw
        border-radius: unset
        .rate
          padding: 25px 34px
          gap: 20px
          grid-template-columns: 1fr auto
          grid-template-areas: "name name" "props btns"
          .name
            max-width: unset
          .properties
            display: grid
            grid-template-columns: repeat(2, max-content)
            gap: 15px
            .line
              .key
                font-size: 0.6875rem
              .value
                font-size: 0.875rem
          .card-btns
            align-self: start
            .apply
              font-size: 0.875rem
              width: 160px
              padding: 10px
            .more
              width: 50px
              height: 50px
              img
                width: 30px
                height: 30px
@media only screen and (max-width: $bp-tablet)
  .card-page
    padding-top: 15px
    .card-top-section
      flex-direction: column
      gap: 10px
      margin-bottom: 20px
      .color-block
        width: 100%
        border-radius: 5px
        padding: 15px
        flex-direction: column
        .bank-image
          border-radius: 5px
          width: 40px
          margin-bottom: 10px
        .card-type
          font-size: 0.875rem
          margin-bottom: 5px
        .card-name
          font-size: 1.125rem
          margin-bottom: 15px
        .card-text
          font-size: 0.75rem
          margin-bottom: 40px
          max-width: unset
        .card-bottom-block
          flex-direction: column
          justify-content: unset
          gap: 15px
          .apply-btn
            width: 100%
            padding: 16px
            border-radius: 5px
            font-size: 0.875rem
          .ad-block
            font-size: 0.625rem
            font-weight: 300
            align-self: center
      .attr-block
        width: 100%
        border-radius: 5px
        padding: 15px 15px 20px
        display: flex
        gap: 20px
        justify-content: space-between
        .card-image
          display: flex
          border-top-left-radius: 5px
          border-top-right-radius: 5px
          margin: -15px -15px 0
          padding: 25px
          img
            //width: 39.067%
        .card-props
          display: grid
          grid-template-columns: repeat(2, auto)
          grid-auto-rows: min-content
          justify-content: unset
          grid-gap: 15px 10px
          margin-bottom: 20px
          .line
            gap: 3px
            .key
              font-size: 0.6875rem
            .value
              font-size: 0.75rem
        .card-features
          display: grid
          align-self: unset
          grid-template-columns: repeat(2, 1fr)
          .feature
            padding: unset
            font-size: 0.5625rem
            border: unset
      .additional-rates
        margin: 0 -15px
        padding: 15px
        border-radius: unset
        .add-text
          font-size: 0.875rem
        .show
          .text
            font-size: 0.75rem
      .all-tariffs
        margin: -10px -15px 0
        width: 100svw
        border-radius: unset
        .rate
          padding: 20px 15px
          gap: 15px
          grid-template-columns: unset
          grid-template-areas: "name name" "props props" "btns btns"
          .name
            max-width: unset
            font-size: 0.875rem
          .properties
            display: grid
            grid-template-columns: repeat(2, auto)
            gap: 15px
            .line
              .value
                font-size: 0.8125rem
          .card-btns
            margin-top: 5px
            align-self: start
            .apply
              font-size: 0.875rem
              width: calc(100% - 50px)
              padding: 9px
            .more
              width: 40px
              height: 40px
              img
                width: 24px
                height: 24px